.ir-ws-webiner-admin-container {
  width: calc(100% - 400px);
  margin: 0px auto;
  margin-top: 0;
}
.ir-ws-webinar-text {
  // margin: 0;
  // margin-top: 40px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
}
