.container{
      margin: 0 auto;
      position: relative;
      width: calc(100% - 500px);
      .webinarText{
        font-family: "Inter";
        font-weight: 700;
        font-size: 27px;
        margin-bottom: 0px;
        margin-top: 60px;
      }
  }
  
  
  
