.ir-ws-meeting-container {
  text-align: center;
  margin-top: 100px;
  // margin-bottom: 20px;
}
.preview-video-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 50%; /* Adjust the width as needed */
  width: "830px";
  height: "480px";
  padding: "1rem";
  // margin: 0 auto; /* Horizontally center the container */
}
