.ir-ws-admin-create-webinar-tab {
  margin-top: 0px;
  height: 78%;
  background: #d9d9d9;
  border-radius: 0px 20px 20px 20px;
  position: relative;
}
.ir-ws-create-webinar-button-container {
  display: flex;
  justify-content: center;
}

.ir-ws-create-webinar-button-container button {
  margin-top: 100px;
  border: none;
  width: 50%;
  height: 50px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
}
