tr.expandable  td {
    padding: 0;
}
.ir-ws-webiner-admin-container{
    margin: 0 auto;
    width: calc(100% - 400px);
    .ir-ws-webiner-admin-text{
      font-weight: 700;
      font-size: 27px; // there is no specific font size 
      margin-bottom: 0px;
      margin-top: 60px;
    }
}