.ir-ws-webinar-presenter-header {
  display: flex;
  justify-content: space-between;
}

.ir-ws-webinar-presenter-logo {
  width: 100px;
  margin-left: 20px;
}
.ir-ws-webinar-presenter-logo-pack {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.ir-ws-webinar-presenter-recorder-logo {
  width: 35px;
  cursor: pointer;
}
.ir-ws-webinar-presenter-main-screen-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.ir-ws-webinar-presenter-participants-box {
  //   width: 25%;
  width: 300px;
}
.ir-ws-webinar-presenter-participants-container {
  //   width: 300px;
  background-color: #d0ecff;
  height: 600px;
  overflow-x: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ir-ws-webinar-presenter-participants-number-container {
  //   width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: linear-gradient(90deg, #31a7ff 0%, #ef68e0 100%);
}
.ir-ws-webinar-presenter-participants-number-container p {
  color: #ffff;
}
.ir-ws-webinar-participants-user-logo {
  width: 50px;
  margin-left: 10px;
}
.ir-ws-webinar-participants-occupations-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #bce3ff;
  padding-block: 8px;
}
.ir-ws-webinar-participants-text {
  font-size: 18px;
}
.ir-ws-webinar-occupations-text {
  font-size: 14px;
  margin-top: 2.5px;
}
.ir-ws-webinar-presenter-meeting-screen {
  width: 800px;
  //   width: 100%;
  height: 500px;
  background-color: #000;
  border-radius: 10px;
}
.ir-ws-webinar-screen-share {
  width: 100px;
  height: 50px;
  background-color: #000;
}
.ir-ws-webinar-presenter-meeting-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d0ecff;
  border-radius: 10px;
  height: 80px;
  width: 450px;
  margin: 50px auto;
}
.ir-ws-webinar-presenter-meeting-control {
  display: flex;
}
.ir-ws-webinar-presenter-meeting-leave-btn {
  padding-block: 10px;
  padding-inline: 20px;
  background: rgba(255, 0, 31, 0.74);
  color: #ffff;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.ir-ws-webinar-presenter-message-notes-container {
  width: 300px;
}
.ir-ws-webinar-presenter-notes-container {
  width: 300px;
}
.ir-ws-webinar-presenter-notes-text-box {
  height: 50px;
  background: linear-gradient(90deg, #31a7ff 0%, #ef68e0 100%);
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.ir-ws-webinar-presenter-notes-text {
  margin-left: 20px;
  color: #ffff;
}

.ir-ws-webinar-presenter-note-input-box {
  width: 300px;
  margin: 0;
  outline: none;
  border: none;
  height: 200px;
  background-color: #d0ecff;
  padding-inline: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  resize: none;
}
.ir-ws-webinar-presenter-chat-text-box {
  margin-top: 20px;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: linear-gradient(90deg, #31a7ff 0%, #ef68e0 100%);
  display: flex;
  align-items: center;
}
.ir-ws-webinar-presenter-chat-text {
  margin-left: 20px;
  color: #ffff;
}
.ir-ws-webinar-presenter-message-box {
  height: 300px;
  background-color: #d0ecff;
  overflow: auto;
}
.ir-ws-webinar-presenter-message-input-container {
  height: 70px;
  background-color: #d0ecff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.ir-ws-webinar-presenter-message-input-send-btn-container {
  display: flex;
  background-color: #2ba7ff;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  position: absolute;
  top: 15%;
  left: 3%;
}
.ir-ws-webinar-presenter-message-input {
  outline: none;
  border: none;
  resize: none;
  height: 30px;
  width: 245px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: #2ba7ff;
  color: #ffff;
}
.ir-ws-webinar-presenter-message-input::placeholder {
  color: #ffff;
}
.ir-ws-webinar-message-send-btn {
  width: 24px;
  color: #ffff;
  margin-right: 10px;
  cursor: pointer;
}
.ir-ws-webinar-sender-message {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
