.ir-ws-webinar-presenter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  max-width: 100%;
}

.ir-ws-webinar-presenter-logo {
  width: 6%;
  margin-left: 20px;
}
.ir-ws-webinar-presenter-webinar-name-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}
.ir-ws-webinar-presenter-logo-pack {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.ir-ws-webinar-presenter-recorder-logo {
  width: 80%;
  cursor: pointer;
}
.ir-ws-webinar-presenter-main-screen-container {
  height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
}
.ir-ws-webinar-presenter-participants-box {
  width: 22%;
  height: 100%;
}

.ir-ws-webinar-presenter-participants-container {
  background: #f2f1f1;
  height: 75vh;
  overflow-x: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #d5d5d5;
}

.ir-ws-webinar-presenter-participants-number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: linear-gradient(90deg, #31a7ff 0%, #ef68e0 100%);
}
.ir-ws-webinar-presenter-text {
  font-size: 1rem;
  color: #ffff;
  margin-left: 20px;
}
.ir-ws-webinar-presenter-number-text {
  font-size: 1rem;
  color: #ffff;
  margin-right: 20px;
}

.ir-ws-webinar-participants-user-logo {
  width: 18%;
  margin-left: 10px;
}
.ir-ws-webinar-participants-occupations-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #d5d5d5;
  padding-block: 8px;
}
.ir-ws-webinar-participants-text {
  font-size: 1rem;
}
.ir-ws-webinar-occupations-text {
  font-size: 0.8rem;
  margin-top: 2.5px;
}
.ir-ws-webinar-presenter-meeting-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}
.ir-ws-webinar-presenter-meeting-screen {
  width: 100%;
  height: 60vh;
  background-color: #000;
  border-radius: 10px;
}
// .ir-ws-webinar-screen-share {
//   width: 100px;
//   height: 50px;
//   background-color: #000;
// }
.ir-ws-webinar-presenter-meeting-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  border-radius: 10px;
  height: 50px;
  width: 70%;
  margin-bottom: 0;
}
.ir-ws-webinar-presenter-meeting-control {
  display: flex;
}
.ir-ws-webinar-presenter-meeting-leave-btn {
  padding-block: 10px;
  padding-inline: 20px;
  background: rgba(255, 0, 31, 0.74);
  color: #ffff;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.ir-ws-webinar-presenter-message-notes-container {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ir-ws-webinar-presenter-notes-text-box {
  height: 50px;
  background: linear-gradient(90deg, #31a7ff 0%, #ef68e0 100%);
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.ir-ws-webinar-presenter-notes-text {
  margin-left: 20px;
  color: #ffff;
}

.ir-ws-webinar-presenter-note-input-box {
  outline: none;
  border: none;
  width: 100%;
  height: 20vh;
  background: #f3f3f3;
  padding-top: 10px;
  padding-inline: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.1rem;
  resize: none;
}
.ir-ws-webinar-presenter-message-conatiner {
  width: 100%;
}
.ir-ws-webinar-presenter-chat-text-box {
  height: 50px;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: linear-gradient(90deg, #31a7ff 0%, #ef68e0 100%);
  display: flex;
  align-items: center;
}
.ir-ws-webinar-presenter-chat-text {
  margin-left: 20px;
  color: #ffff;
}
.ir-ws-webinar-presenter-message-box {
  height: 35vh;
  background: #f3f3f3;
  overflow: auto;
}
.ir-ws-webinar-presenter-message-input-container {
  height: 50px;
  background: #f3f3f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ir-ws-webinar-presenter-message-input-send-btn-container {
  display: flex;
  background-color: #2ba7ff;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  width: 90%;
}
.ir-ws-webinar-presenter-message-input {
  outline: none;
  border: none;
  resize: none;
  width: 80%;
  height: 35px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #2ba7ff;
  color: #ffff;
}
.ir-ws-webinar-presenter-message-input::placeholder {
  color: #ffff;
}
.ir-ws-webinar-message-send-btn {
  width: 24px;
  color: #ffff;
  cursor: pointer;
}
.ir-ws-webinar-sender-message {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
