.ir-customtabs-main-container {
  margin-top: 20px;
  .ir-customa-tabs-link {
    padding: 10px;
    width: 174px;
    margin-right: 10px;
    background: #f2f1f1;

    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    margin-bottom: 0px;
    font-weight: 700;
    &.activeTab {
      background-color: #d9d9d9;
    }
  }
}
