.ir-ws-webinar-list-tab {
  width: 96%;
  top: 5%;
  left: 2.5%;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px 0px 0px 20px;
}
.ir-ws-webinar-list-tab.active {
  height: 50px;

  .ir-ws-admin-webinar-content {
    height: 100%;
  }
}
.ir-ws-webinar-list-tab:last-child {
  margin-bottom: 20px;
}

.ir-ws-admin-webinar-content {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.ir-ws-webinar-transaction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.ir-ws-admin-list-button-container button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
}
.ir-ws-webinar-transaction-button-active {
  background-color: #748ffc;
}

.ir-ws-admin-drop-down-icon {
  height: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.ir-ws-webinar-title-text {
  font-size: 18px;
  font-weight: 400;
  margin-left: 15px;
}

.ir-ws-webinar-list-accordian-tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background: #bfbfbf;
  font-size: 18px;
  margin-top: 20px;
  list-style: none;
}
.ir-ws-list-item-box {
  width: 200px;
  text-align: center;
}
.ir-ws-webinar-list-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background: #efefef;
  margin-block: 30px;
  font-size: 18px;
  list-style: none;
}
.ir-ws-webinar-list-data li {
  width: 200px;
  text-align: center;
}
.ir-ws-webinar-download-icon {
  height: 30px;
  cursor: pointer;
}
.ir-ws-admin-list-button-container {
  display: flex;
  gap: 10px;
}
