.ir-ws-webinar-admin-list-box {
    width: 100%;
    background-color: #d9d9d9;
    height: 570px;
    border-radius: 0px 20px 20px 20px;
    .ir-we-webinar-list  {
      background: #ffffff;
      width: 99%;
      margin: 10px;
      margin-top: 13px;
      border-radius: 10px;
    }
  }
  .ir-ws-webinar-list-items{
    .ir-ws-webinar-list-heading {
      margin-left: 15px;
      font-weight: 700;
    }
    .ir-ws-webinar-list-buttons {
      width: 150px;
      .ir-ws-webinar-list-button {
        margin-top: 10px;
        height: 40px;
        margin-left: 10px;
        background: #f2f1f1;
        cursor: pointer;
        border: none;
        border-radius: 10px;
      }
    }
  }


    .ir-ws-webinar-uparrow {
        right: 20px;
        top: 15px;
        cursor: pointer;
        }

  